<a href="https://colab.research.google.com/github/npr99/PlanningMethods/blob/master/Explore_ACS_Variable_Metadata_2021_06_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to explore ACS variable metdata
The [American Community Survey developers section for the application programming interface (API)](https://www.census.gov/data/developers/data-sets/acs-5year.html), provides a comprehensive list of all ACS variables. The problem is that there are more than 25,000 unique estimates provided by each ACS survey. Trying to find a variable that relates to a specific topic is not easy. This notebook helps solve this problem.

The ACS metadata for each varaiable provides the following:
1. Unique variable name
2. Label
3. Group
4. Limit
5. Concept
6. Attributes
7. Predicate Type
8. Required
9. Predicate Only

The Census API guide provides more details on what each column means
https://www.census.gov/content/dam/Census/data/developers/api-user-guide/api-guide.pdf

For ACS data the most important columns are the name, label, group, and concept.

In [1]:
# Python packages required to read in and Census API data
import requests ## Required for the Census API
import pandas as pd # For reading, writing and wrangling data

In [2]:
# https://stackoverflow.com/questions/38845474/how-to-convert-json-into-dataframe
acs_variables_json = pd.read_json('https://api.census.gov/data/2012/acs/acs5/variables.json')

In [3]:
# explore variable dictionary from json
acs_variables_json.variables.head()

AIANHH         {'label': 'American Indian Area/Alaska Native ...
AIHHTLI        {'label': 'American Indian Area (Off-Reservati...
AITSCE         {'label': 'American Indian Tribal Subdivision ...
ANRC           {'label': 'Alaska Native Regional Corporation'...
B00001_001E    {'label': 'Estimate!!Total', 'concept': 'UNWEI...
Name: variables, dtype: object

In [4]:
# Apply Series to variables
acs_variables_df = acs_variables_json.variables.apply(pd.Series)
acs_variables_df.head()

                                                         label  ... predicateOnly
AIANHH       American Indian Area/Alaska Native Area/Hawaii...  ...           NaN
AIHHTLI      American Indian Area (Off-Reservation Trust La...  ...           NaN
AITSCE             American Indian Tribal Subdivision (Census)  ...           NaN
ANRC                        Alaska Native Regional Corporation  ...           NaN
B00001_001E                                    Estimate!!Total  ...           NaN

[5 rows x 9 columns]

In [5]:
# The variable name is in the index column - reset index move name
acs_variables = acs_variables_df.reset_index()
# rename index column
acs_variables = acs_variables.rename(columns={"index": "name"})
acs_variables.head()

          name  ... predicateOnly
0       AIANHH  ...           NaN
1      AIHHTLI  ...           NaN
2       AITSCE  ...           NaN
3         ANRC  ...           NaN
4  B00001_001E  ...           NaN

[5 rows x 10 columns]

In [6]:
pd.set_option('max_colwidth', 20) # concept names are long - can make pandas display different column width
acs_variables[["name","concept","group","predicateType","required","predicateOnly"]].describe()

                name              concept  ...           required predicateOnly
count          22567                22531  ...                  1             3
unique         22567                 1030  ...                  1             1
top     B17010D_035E  DETAILED OCCUPAT...  ...  default displayed          True
freq               1                  526  ...                  1             3

[4 rows x 6 columns]

In [7]:
acs_variables.loc[acs_variables['required'] == 'default displayed']

          name                label  ...               values  predicateOnly
22539  GEOCOMP  Geographic Compo...  ...  {'item': {'R1': ...            NaN

[1 rows x 10 columns]

In [8]:
# Look at variables by prediate type - relates to variable type integer, float, string
acs_variables.groupby(['predicateType']).size().reset_index().rename(columns={0:'count'})

  predicateType  count
0      fips-for      1
1       fips-in      1
2         float    177
3           int  22350
4        string      7
5         ucgid      1

In [9]:
# Look at variables that are not floats and not integers and not missing
pd.set_option('max_colwidth', 60) # concept names are long - can make pandas display different column width
acs_variables[['name','label','predicateType']].loc[(acs_variables['predicateType'].isin(["float","int"])==False) &
                  (acs_variables['predicateType'].notna())]

             name                                       label predicateType
22539     GEOCOMP                   Geographic Component code        string
22540  GEOVARIANT                         Geographic variant         string
22541      GEO_ID                                   Geography        string
22542   LSAD_NAME     Legal/Statistical Area Description name        string
22557    SUMLEVEL                          Summary Level code        string
22561          US                               United States        string
22563       ZCTA5       Zip Code Tabulation Area (Five-Digit)        string
22564         for                Census API FIPS 'for' clause      fips-for
22565          in                 Census API FIPS 'in' clause       fips-in
22566       ucgid  Uniform Census Geography Identifier clause         ucgid

In [10]:
# Look at the top 25 observations
acs_variables.head(25)

            name  ... predicateOnly
0         AIANHH  ...           NaN
1        AIHHTLI  ...           NaN
2         AITSCE  ...           NaN
3           ANRC  ...           NaN
4    B00001_001E  ...           NaN
5    B00002_001E  ...           NaN
6   B01001A_001E  ...           NaN
7   B01001A_002E  ...           NaN
8   B01001A_003E  ...           NaN
9   B01001A_004E  ...           NaN
10  B01001A_005E  ...           NaN
11  B01001A_006E  ...           NaN
12  B01001A_007E  ...           NaN
13  B01001A_008E  ...           NaN
14  B01001A_009E  ...           NaN
15  B01001A_010E  ...           NaN
16  B01001A_011E  ...           NaN
17  B01001A_012E  ...           NaN
18  B01001A_013E  ...           NaN
19  B01001A_014E  ...           NaN
20  B01001A_015E  ...           NaN
21  B01001A_016E  ...           NaN
22  B01001A_017E  ...           NaN
23  B01001A_018E  ...           NaN
24  B01001A_019E  ...           NaN

[25 rows x 10 columns]

# Search the labels

In [50]:
# Look at one group of variables 
# Notice search goes back to the full list of ACS variables
acs_variables.loc[acs_variables['group'] == 'B25118']

              name  ... search var count
19583  B25118_001E  ...                1
19584  B25118_002E  ...                1
19585  B25118_003E  ...                1
19586  B25118_004E  ...                1
19587  B25118_005E  ...                1
19588  B25118_006E  ...                1
19589  B25118_007E  ...                1
19590  B25118_008E  ...                1
19591  B25118_009E  ...                1
19592  B25118_010E  ...                1
19593  B25118_011E  ...                1
19594  B25118_012E  ...                1
19595  B25118_013E  ...                1
19596  B25118_014E  ...                1
19597  B25118_015E  ...                1
19598  B25118_016E  ...                1
19599  B25118_017E  ...                1
19600  B25118_018E  ...                1
19601  B25118_019E  ...                1
19602  B25118_020E  ...                1
19603  B25118_021E  ...                1
19604  B25118_022E  ...                1
19605  B25118_023E  ...                1
19606  B25118_024E  ...                1
19607  B25118_025E  ...                1

[25 rows x 11 columns]

In [47]:
acs_variables["search var count"] = 0
acs_variables.loc[acs_variables['concept'].str.contains('SIZE',case=False,na=False),'search var count'] += 1
acs_variables.loc[acs_variables['concept'].str.contains('INCOME',case=False,na=False),'search var count'] += 1
acs_variables["search var count"].describe()

count    22567.000000
mean         0.140338
std          0.349380
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          2.000000
Name: search var count, dtype: float64

In [48]:
# save observations with desired search var count
variables_to_explore = acs_variables.loc[acs_variables['search var count'] >= 2]
# drop if GEO_ID is included in list - GEO_ID includes list of all variables
variables_to_explore = variables_to_explore.loc[variables_to_explore['name']!='GEO_ID']
pd.set_option('max_colwidth', 200) # concept names are long - can make pandas display wider columns
variables_to_explore.groupby(['group','concept']).size().reset_index().rename(columns={0:'count'})

    group  ... count
0  B19019  ...     8
1  B19119  ...     7

[2 rows x 3 columns]

In [40]:
acs_variables["search var count"] = 0
acs_variables.loc[acs_variables['concept'].str.contains('HOUSEHOLD INCOME IN THE PAST 12 MONTHS',case=False,na=False),'search var count'] += 1
acs_variables.loc[acs_variables['concept'].str.contains('FAMILY INCOME IN THE PAST 12 MONTHS',case=False,na=False),'search var count'] += 1

acs_variables.loc[acs_variables['concept'].str.contains('poverty',case=False,na=False),'search var count'] -= .3
acs_variables.loc[acs_variables['concept'].str.contains('median',case=False,na=False),'search var count'] -= .3
acs_variables.loc[acs_variables['concept'].str.contains('AGGREGATE',case=False,na=False),'search var count'] -= .3
acs_variables["search var count"].describe()

count    22567.000000
mean         0.019391
std          0.320990
min         -0.300000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.100000
Name: search var count, dtype: float64

In [41]:
# save observations with desired search var count
variables_to_explore = acs_variables.loc[acs_variables['search var count'] >= 1]
# drop if GEO_ID is included in list - GEO_ID includes list of all variables
variables_to_explore = variables_to_explore.loc[variables_to_explore['name']!='GEO_ID']
variables_to_explore.head(50)

               name  ... search var count
11157  B19001A_001E  ...              1.0
11158  B19001A_002E  ...              1.0
11159  B19001A_003E  ...              1.0
11160  B19001A_004E  ...              1.0
11161  B19001A_005E  ...              1.0
11162  B19001A_006E  ...              1.0
11163  B19001A_007E  ...              1.0
11164  B19001A_008E  ...              1.0
11165  B19001A_009E  ...              1.0
11166  B19001A_010E  ...              1.0
11167  B19001A_011E  ...              1.0
11168  B19001A_012E  ...              1.0
11169  B19001A_013E  ...              1.0
11170  B19001A_014E  ...              1.0
11171  B19001A_015E  ...              1.0
11172  B19001A_016E  ...              1.0
11173  B19001A_017E  ...              1.0
11174  B19001B_001E  ...              1.0
11175  B19001B_002E  ...              1.0
11176  B19001B_003E  ...              1.0
11177  B19001B_004E  ...              1.0
11178  B19001B_005E  ...              1.0
11179  B19001B_006E  ...              1.0
11180  B19001B_007E  ...              1.0
11181  B19001B_008E  ...              1.0
11182  B19001B_009E  ...              1.0
11183  B19001B_010E  ...              1.0
11184  B19001B_011E  ...              1.0
11185  B19001B_012E  ...              1.0
11186  B19001B_013E  ...              1.0
11187  B19001B_014E  ...              1.0
11188  B19001B_015E  ...              1.0
11189  B19001B_016E  ...              1.0
11190  B19001B_017E  ...              1.0
11191  B19001C_001E  ...              1.0
11192  B19001C_002E  ...              1.0
11193  B19001C_003E  ...              1.0
11194  B19001C_004E  ...              1.0
11195  B19001C_005E  ...              1.0
11196  B19001C_006E  ...              1.0
11197  B19001C_007E  ...              1.0
11198  B19001C_008E  ...              1.0
11199  B19001C_009E  ...              1.0
11200  B19001C_010E  ...              1.0
11201  B19001C_011E  ...              1.0
11202  B19001C_012E  ...              1.0
11203  B19001C_013E  ...              1.0
11204  B19001C_014E  ...              1.0
11205  B19001C_015E  ...              1.0
11206  B19001C_016E  ...              1.0

[50 rows x 11 columns]

In [42]:
variables_to_explore['name'].describe()

count            1799
unique           1799
top       B25074_007E
freq                1
Name: name, dtype: object

## Look at all of the groups and concepts for variable
The group and concept provide a description of the variables.

In [43]:
pd.set_option('max_colwidth', 200) # concept names are long - can make pandas display wider columns
variables_to_explore.groupby(['group','concept']).size().reset_index().rename(columns={0:'count'})

      group  ... count
0    B19001  ...    17
1   B19001A  ...    17
2   B19001B  ...    17
3   B19001C  ...    17
4   B19001D  ...    17
5   B19001E  ...    17
6   B19001F  ...    17
7   B19001G  ...    17
8   B19001H  ...    17
9   B19001I  ...    17
10   B19037  ...    69
11  B19037A  ...    69
12  B19037B  ...    69
13  B19037C  ...    69
14  B19037D  ...    69
15  B19037E  ...    69
16  B19037F  ...    69
17  B19037G  ...    69
18  B19037H  ...    69
19  B19037I  ...    69
20   B19101  ...    17
21  B19101A  ...    17
22  B19101B  ...    17
23  B19101C  ...    17
24  B19101D  ...    17
25  B19101E  ...    17
26  B19101F  ...    17
27  B19101G  ...    17
28  B19101H  ...    17
29  B19101I  ...    17
30   B19131  ...   107
31   B19201  ...    17
32   B25070  ...    11
33   B25072  ...    29
34   B25073  ...    50
35   B25074  ...    50
36   B25091  ...    23
37   B25093  ...    29
38   B25098  ...    19
39   B25100  ...    13
40   B25101  ...    45
41   B25106  ...    46
42   B25118  ...    25
43   B25121  ...   106
44   B25122  ...   120
45   B27015  ...    26
46   B99192  ...     8
47   B99193  ...     8
48   B99194  ...     8
49   C25095  ...    29

[50 rows x 3 columns]

In [ ]:
# Save results to a csv file
variables_to_explore.to_csv("variables_to_explore.csv")